body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f6f9;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 20px 0;
    min-height: 95vh;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.button {
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #265858;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #316e6e;
    transform: scale(105%);
}


.error-container {
    margin-top: 35px;
    color: #cb0000;
    font-size: 25px;
    font-weight: 400;
}

.table-container {
    margin-top: 35px;
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.table-row-layout {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ecf0f1;
    min-width: 2550px;
}

.table-container > .table-row-layout:last-child {
    border-bottom: none;
}

.table-header {
    font-weight: bold;
    color: #7f8c8d;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fafafa;
    border-bottom: 2px solid #bdc3c7;
}

.table-row {
    font-size: 16px;
}
.table-row:hover {
    background-color: #f9f9f9;
}


.column {
    flex: 0 0 120px;
    padding: 15px 20px;
    overflow-wrap: normal;
    white-space: normal;
}

.column:first-child {
    flex-basis: 250px;
}

.column-description {
    flex-basis: 300px;
}

.column-materials {
    flex-basis: 250px;
    line-height: 1.5;
    font-size: 14px;
}
.column-materials strong {
    color: #555;
}


.column-action {
    flex: 0 0 130px;
    text-align: center;
    padding: 10px 15px;
}

.edit-button, .delete-button {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    transition: all 0.2s ease;
}

.edit-button {
    background-color: #2980b9;
}

.delete-button {
    background-color: #c0392b;
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.85;
    transform: scale(105%);
}